<h1>Calendar view</h1>

<%= render partial: "calendar" %>

<%- content_for :secondary_content do -%>
  <h3>Instructions</h3>
  <p>Click on a pay period to edit it</p>
  <p>Click on an empty day to add a <%= link_to "new pay period", new_pay_period_path(start_date: @calendar_presenter.start_date), data: {turbo_frame: "management_form"} %></p>

  <%= turbo_frame_tag "management_form" do %>
  <%- end -%>
<%- end -%>
