<h1>Pay periods</h1>

<div class="pay_periods">
  <% @pay_periods.each do |pay_period| %>
    <%= render pay_period %>
    <p class="actions">
      <%= link_to Icon.new(:edit), edit_pay_period_path(pay_period) %>
      <%= link_to Icon.new(:delete), pay_period_path(pay_period), class: "alert", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </p>
  <% end %>
</div>

<%- content_for :secondary_content do -%>
  <%= link_to "#{Icon.new(:add)} New pay period".html_safe, new_pay_period_path, class: "button" %>
<%- end -%>
