<%- if turbo_frame_request? -%>
  <%= turbo_frame_tag "management_form" do %>
    <h3>New pay period</h3>
    <%= render "form", pay_period: @pay_period %>
  <%- end -%>
<%- else -%>
  <h1>New pay period</h1>

  <%= render "form", pay_period: @pay_period %>

  <div>
    <%= link_to "Back to pay periods", pay_periods_path %>
  </div>
<%- end -%>
