form {
  div.fields {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 2rem;
    row-gap: var(--line-height);
  }

  div.fields, div.actions {
    margin-bottom: var(--line-height);
  }

  div.actions {
    display: flex;
    justify-content: space-between;
  }

  div.errors {
    color: var(--color-alert);

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  label {
    text-wrap: nowrap;
  }

  input {
    border: 1px solid var(--color-hairline);
    border-radius: 4px;
  }

  input[type=submit], a.button {
    border: none;
    border-radius: 6px;

    padding: calc(0.5 * var(--line-height)) 0.5rem;

    background-color: var(--color-button);
    color: #fff;
  }
}
