#content_wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "header header"
    "flash_messages flash_messages"
    "primary_content secondary_content"
    "footer footer"
  ;
  column-gap: 2rem;
  max-width: 75rem;
  margin: 0 auto;

  #primary_header {
    grid-area: header;
  }

  #flash_messages {
    grid-area: flash_messages;
  }

  #primary_content {
    grid-area: primary_content;
  }

  #secondary_content {
    grid-area: secondary_content;
  }

  #primary_footer {
    grid-area: footer
  }
}
