body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: var(--font-size);
}

h1 {
  font-size: calc(2 * var(--font-size));
  margin-bottom: var(--line-height);
}

h2 {
  font-size: calc(1.5 * var(--font-size));
  margin-bottom: var(--line-height);
}

h3 {
  font-size: var(--font-size);
  margin-bottom: 0;
}

p, ul, ol {
  margin-bottom: var(--line-height);
}

a, a:link, a:visited {
  color: blue;
}

a:hover {
  color: rebeccapurple;
}

a:active {
  color: blueviolet;
}
